<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Encontre um Buffet</title>
</head>
<body>
    <div id="app">
        <h1 v-on:click="getBuffets">Buffets</h1>

        <input type="text" v-model="searchText" placeholder="Nome do Buffet">

        <p v-if="buffets.length <= 0 && !buffet.id">
            Nenhum Buffet encontrado.
        </p>

        <ul>
            <li v-for="item in listResult">
                <button v-on:click="getbuffetDetails(item.id)">
                    {{item.brandName}}<br>
                    {{item.state}} - {{item.city}}<br>
                </button>
            </li>
        </ul>

        <div class="buffet-details" v-if="showBuffetDetails">
            <button v-on:click="getBuffets">Menu</button>

            <dl>
                <div>
                    <dt>Nome:</dt>
                    <dd>{{buffet.brandName}}</dd>
                </div>

                <div>
                    <dt>Telefone:</dt>
                    <dd>{{buffet.phone}}</dd>
                </div>

                <div>
                    <dt>E-mail:</dt>
                    <dd>{{buffet.email}}</dd>
                </div>

                <div>
                    <dt>Endereço:</dt>
                    <dd>{{buffet.address}} - {{buffet.zipCode}}</dd>
                </div>

                <div>
                    <dt>Cidade:</dt>
                    <dd>{{buffet.city}} - {{buffet.state}}</dd>
                </div>

                <div>
                    <dt>Descrição:</dt>
                    <dd>{{buffet.description}}</dd>
                </div>

                <div>
                    <dt>Formas de pagamento:</dt>
                    <dd>{{buffet.payment}}</dd>
                </div>
            </dl>

            <div>
                <h2>Eventos</h2>

                <p v-if="buffet_events.length <= 0">
                    Sem eventos cadastrados
                </p>

                <ul>
                    <div>
                        <li v-for="item in buffet_events">
                            <dl class="event" v-on:click="getEventDetails(buffet.id, item.id)">
                                <dt>Evento:</dt>
                                <dd>{{item.name}}</dd>

                                <dt>Descrição:</dt>
                                <dd>{{item.description}}</dd>
                            </dl>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

        <div class="event-details" v-if="showEventDetails">
            <button v-on:click="getBuffets">Menu</button>
            <button v-on:click="getbuffetDetails(buffet.id)">Voltar para Buffet {{buffet.brandName}}</button>

            <dl>
                {{event.name}}
                <div>
                    <dt>Descrição:</dt>
                    <dd>{{event.description}}</dd>
                </div>
                
                <div>
                    <dt>Mínimo de pessoas:</dt>
                    <dd>{{event.min_people}}</dd>
                </div>
                
                <div>
                    <dt>Máximo de pessoas:</dt>
                    <dd>{{event.max_people}}</dd>
                </div>
                
                <div>
                    <dt>Duração do evento:</dt>
                    <dd>{{event.duration}}</dd>
                </div>
                
                <div>
                    <dt>Cardápio:</dt>
                    <dd>{{event.menu}}</dd>
                </div>

                <h3>Serviços</h3>
                <ul>
                    <li v-if="event.alcoholic_beverages">Bebida alcóolica</li>
                    <li v-if="event.decoration">Decoração</li>
                    <li v-if="event.parking">Estacionamento</li>
                    <li v-if="event.parking_valet">Valet estacionamento</li>
                    <li v-if="event.customer_space">Evento em residência</li>
                </ul>
            </dl>

            <h3>Enviar proposta</h3>
            <form @submit.prevent="submitProposal(buffet.id, event.id)">
                <label for="eventDate">Data do evento: </label>
                <input type="date" id="eventDate" v-model="order.event_date"> <br>
                <label for="people">Número de pessoas: </label>
                <input type="number" id="number" v-model="order.people"> <br>
                <button type="submit">Enviar proposta</button>
            </form>

            <p v-if="response.advance_price">Valor prévio do evento: {{response.advance_price}}</p>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>
